.card {
    background-color: #E5D0AC;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.image {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
}

.title {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    font-family: 'Segoe UI', sans-serif;
}

.price {
    font-size: 16px;
    text-align: center;
    margin: auto;
    color: #C14600;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
    border-radius: 50px;
    border: 2px solid #C14600;
    padding: 5px 15px;
    width: fit-content;
}

.button {
    background-color: #C14600;
    color: #FEF9E1;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #FF9D23;
}